.IndexPage{
	margin:auto;
	height: 1000px;
	background-color: rgb(231, 71, 8);
	text-align: center;
}

.container{
	background-color: rgb(231, 71, 8);
}
.radar{
	scale: 100%;
	position: absolute;
	left: 300px;
	background-color:rgb(231, 71, 8);
	z-index: 5;
}
.heading {
	color: rebeccapurple;
  }
.site-title{
	font-size: 3rem;
	color: gray;
	font-weight: 700;
	margin: 3rem;
}
.list{
	right: 16px;
	top: 8px;
	height: 500px;
	width: 100px;
	overflow: auto;
}
.image{
	position: absolute;
	top: 40px;
	left: 40px;
	scale: 125%;
	max-width: fit-content;
	background-color:  rgb(231, 71, 8);

	
}
.Type{
	position: absolute;
	top: 150px;
	left: 20px;
	text-align: left;
	z-index: 0;
	
}
.heightWeight{
	position:absolute;
	top: 30px;
	
}
.shinyButton{
	right: 0px;
}
.maleFemalButton{
	right: 0px;
}
.search{
	right: 0px;
}
